:root {
  /* Colors */
  /* primary cyan 70, 50, 30 */
  --color-primary-70: #448899;
  --color-primary-50: #66aabb;
  --color-primary-30: #aaddee;
  /* secondary gray 70, 50, 20, 10 */
  --color-secondary-70: #666666;
  --color-secondary-50: #757575;
  --color-secondary-20: #e8e8e8;
  --color-secondary-10: #eeeeee;
  /* white, black, blue gray */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-opacity-60: rgba(0, 0, 0, 0.6);
  --color-blue-gray: #aabbcc;
  /* gradients */
  --gradient-light: linear-gradient(
    0deg,
    var(--color-primary-30),
    var(--color-primary-50)
  );
  --gradient-dark: linear-gradient(0deg, #337788, var(--color-primary-50));
  /* Font */
  --font-primary: "Noto Sans TC", "Roboto", sans-serif;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

html {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

hr {
  background-color: #ffffff;
  height: 0;
  border: 1px solid var(--color-secondary-20);
}

h1 {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

button {
  font-size: 19px;
  font-weight: var(--font-weight-medium);
}

.category-font {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
}

.font-regular {
  font-weight: var(--font-weight-normal);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 54px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  z-index: 1000;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

nav h1 {
  color: var(--color-primary-70);
  flex: 1 1 auto;
  margin: 0;
}

.nav--links {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

nav button {
  background: none;
  border: none;
  color: var(--color-secondary-70);
  font-size: 1rem;
}

body {
  padding-top: 54px;
  margin: 0;
}

.hero-section {
  height: 320px;
  background-image: url("/static/images/hero_background.png");
  background-size: cover;
  background-position: top;
  color: var(--gradient-light);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.hero-section__title {
  color: var(--color-white);
  margin-bottom: 15px;
}

.hero-section__subtitle {
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 460px;
  height: 46px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 20px 0 var(--color-primary-30);
}

.category-dropdown__button {
  width: 100px;
  flex-shrink: 0;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  color: var(--color-black);
  background-color: var(--color-secondary-10);
  appearance: none;
}

.category-dropdown__menu {
  display: none;
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  max-width: 300px;
  background: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-blue-gray);
  border-radius: 5px;
  z-index: 2000;
  grid-template-columns: repeat(3, 1fr);
}

.category-dropdown__menu.active {
  display: grid;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-black);
  height: 40px;
  border-radius: 5px;
}

.category-item:hover {
  background-color: var(--color-secondary-10);
}

.search-bar__input {
  flex-grow: 1;
  min-width: 0;
  border: none;
  padding: 0 16px;
  border-radius: 0;
  font-size: 1rem;
}

.search-bar__button {
  width: 60px;
  padding: 8px 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border: none;
  background: var(--color-primary-70);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar__button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.main-content {
  max-width: 1200px;
  padding: 40px 15px 0 15px;
  margin: auto;
}

.mrt-scroll-section {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.mrt-scroll-section__container {
  flex: 1;
  height: 50px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 13px 0px 13px 0px;
  margin: 0 10px;
}

.mrt_button {
  background: none;
  border: none;
  margin: 0;
  color: var(--color-secondary-70);
  font-size: 1rem;
  height: 24px;
  padding: 0 15px;
}

.mrt_button:hover {
  cursor: pointer;
  color: var(--color-black);
}

.mrt-scroll-section__container > li {
  list-style: none;
  border: none;
}

.mrt-scroll__arrow {
  background: none;
  border: none;
}

.mrt-scroll__arrow img {
  opacity: 0.4;
  cursor: pointer;
}

.mrt-scroll__arrow:hover img {
  opacity: 1;
}

.mrt-scroll__arrow--left {
  padding: 9px 0 9px 0px;
}

.mrt-scroll__arrow--right {
  padding: 9px 0px 9px 0;
}

.attractions-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.attractions-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.attraction-card {
  width: 270px;
  height: 242px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--color-secondary-20);
}

.attraction-card__thumbnail {
  background-image: url("/static/images/attraction.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: calc(100% - 45px);
}

.attraction-card__name {
  color: var(--color-white);
  background-color: var(--color-black-opacity-60);
  height: 40px;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attraction-card__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  height: 45px !important;
}

.attraction-card__mrt {
  color: var(--color-secondary-50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attraction-card__category {
  color: var(--color-secondary-50);
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background-color: var(--color-secondary-70);
  padding: 40px 0;
  margin: 0 auto;
  color: var(--color-white-900);
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: var(--color-white);
  text-align: center;
  padding: 5px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .attractions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .attraction-card {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .attractions-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .attraction-card {
    width: 100%;
  }
}

.booking-form {
  background-color: var(--color-secondary-10);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.booking-form p {
  margin: 0 0 10px 0;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
}

.form-group input[type="date"] {
  width: 193px;
  height: 35px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.price-display {
  display: flex;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: var(--color-primary-70);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  width: 154px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}

.attraction-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 40px 15px;
  box-sizing: border-box;
}

.attraction-main hr {
  margin: 0 -15px;
}

.attraction-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px 0px 15px;
  margin-bottom: 40px;
}

.slideshow {
  width: 540px;
  height: 400px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.attraction-profile {
  flex-grow: 1;
  height: 400px;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-70);
}

#attraction-name {
  margin: 0;
}

#attraction-category-mrt {
  margin: 15px 0 0 0;
}

.attraction-simple-intro {
  margin-bottom: 20px;
}

.booking-form {
  margin-top: 0;
  height: 300px;
  background-color: var(--color-secondary-10);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.time-selection {
  display: flex;
  gap: 4px;
}

.booking-form input[type="radio"] {
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  border-radius: 50%;
  white-space: nowrap;
}

.booking-form input[type="radio"]:checked {
  background-color: var(--color-primary-70);
}

.slideshow__container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slideshow__img.active {
  opacity: 1;
  z-index: 1;
}

.slideshow__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

.slideshow__btn.left {
  left: 0px;
}

.slideshow__btn.right {
  right: 0px;
}

.slideshow__btn img {
  width: 36px;
  height: 36px;
  opacity: 0.5;
}

.slideshow__indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0;
  z-index: 2;
  height: 5px;
}

.indicator-bar {
  flex: 1;
  height: 100%;
  background-color: var(--color-white);
  cursor: pointer;
  opacity: 0.75;
}

.indicator-bar.active {
  background-color: var(--color-black);
  opacity: 1;
}

.attraction-info {
  margin-top: 40px;
  line-height: 2;
  font-weight: var(--font-weight-normal);
  color: var(--color-secondary-70);
}

.info-block {
  margin-top: 20px;
}

.info-block * {
  margin: 0;
}

@media (max-width: 840px) {
  .attraction-top {
    flex-direction: column;
    margin: 0 -15px;
    margin-bottom: 40px;
    padding: 0;
    gap: 0;
  }

  .slideshow {
    width: 100%;
    border-radius: 0;
    height: 350px;
  }

  .attraction-profile {
    width: 100%;
    padding: 10px 0px;
  }

  .attraction-simple-intro {
    margin: 20px 10px 0 10px;
  }

  .booking-form {
    width: auto;
    margin: 20px 10px;
  }

  .attraction-info {
    padding: 0 5px;
  }
}
